<div class="container-fluid pt-4">
  <div class="row">
      <div class="col-12">
         <div class="card">
            <div class="card-body">
              <h5 class="card-title">Listado de talleres</h5>
              <div class="row">
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="txtNombre">Nombre</label>
                          <input type="text" class="form-control" id="txtNombre" placeholder="Nombre">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="cboInstructor">Instructor</label>
                          <select class="form-control" id="cboInstructor" style="width:100%">
                              <option value="0">-- Todos --</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                        <label for="txFI">Fecha de inicio</label>
                        <input type="text" class="form-control" id="txFI" placeholder="dd/mm/aaaa">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                        <label for="txFF">Fecha de fin</label>
                        <input type="text" class="form-control" id="txFF" placeholder="dd/mm/aaaa">
                    </div>
                  </div>
              </div>
              <div class="row pt-4">
                  <div class="col-md-12">
                    <div class="button-list">
                      <exa-button color="primary" size="btn-sm">Hoy</exa-button>
                      <exa-button color="primary" size="btn-sm">Semana</exa-button>
                      <exa-button color="primary" size="btn-sm">Este mes</exa-button>
                    </div>
                  </div>
              </div>
            </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                  <div class="col" *ngFor="let curso of cursos">
                    <div class="card shadow-sm">
                      <img [src]="curso.imagen" height="200">
                      <div class="card-body">
                        <p class="card-title" style="font-weight: bold;">{{curso.nombre}}</p>
                        <p class="text-muted"><i>-</i> Día: {{curso.fecha | date: 'M/d/yy' }}</p>
                        <p class="text-muted"><i>-</i> Hora: {{curso.fecha | date: 'shortTime' }}</p>
                        <p class="text-muted"><i>-</i> Instructor: {{curso.instructor}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <exa-button color="primary">Información</exa-button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
         </div>
      </div>
  </div>
</div>


