<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Galaxy App</a>
    <div class="text-end">
      <button type="button" class="btn btn-outline-light me-2">Iniciar Sesión</button>
    </div>
  </div>
</nav>

