/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.button-list {
  margin-left: -8px;
  margin-bottom: -12px;
  .btn {
      margin-bottom: 12px;
      margin-left: 8px;
  }
}
